@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<nav>
    <ul class="@($"pagination {Class} " + $"{(Center ? "text-center" : "")} ")
        " @attributes="AdditionalAttributes">
        @ChildContent
    </ul>
</nav>


@code {

}
