@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;


<li class="@($"pagination-next {Class} " + $"{(Disable ? "disabled" : "")} ")" @attributes=@AdditionalAttributes>
    @ChildContent
</li>


@code {

}
