@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div class="@($"{(StickyWrapper ? "title-bar-left" : "title-bar-left")} {Class}")" id="@Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>


@code {
    
}