@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div class="@($"{(StickyWrapper ? "title-bar-right" : "top-bar-right")} {Class}")" id="@Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    
}