@page "/global-styles";
@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
@using OpenCodeDev.Blazor.Foundation.Components.Plugins.StyleManager;
@inject NavigationManager NavManager;
@inject IStyleManagement StyleManager;
<SectionWrapper>
    <SectionLeft>
        <h2>Colors</h2>
        <p style=" margin-top: 1em;margin-bottom: 1em; ">
            Foundation has an accessible default color palette. The primary color is used for interactive elements, such as links and buttons.
            The secondary, success, warning, and alert colors are used to give more context to UI elements and actions.
        </p>
        <TableWrapper class="hover">
            <TableHeader>
                <TableHeaderItem></TableHeaderItem>
                <TableHeaderItem>Value</TableHeaderItem>
                <TableHeaderItem>Property</TableHeaderItem>

            </TableHeader>
            <TableBody>

                @foreach (var style in StyleManager.GetAll())
                {
                    @if (StyleManager.Get(style.Key, "desc") != "hide")
                    {
                        <TableBodyRow>
                            <TableBodyRowItem>
                                <div style=" @($"height: 2.5em;width: 1em; {($"background-color: {StyleManager.Get(style.Key)};")}") ">

                                </div>
                            </TableBodyRowItem>
                            <TableBodyRowItem>@StyleManager.Get(style.Key)</TableBodyRowItem>
                            <TableBodyRowItem>
                                @style.Key.ToString()
                                <p style="padding-left: 1.2em;">
                                    <small>@StyleManager.Get(style.Key, "desc")</small>
                                </p>
                                
                                
                            </TableBodyRowItem>
                        </TableBodyRow>
                    }

                }
            </TableBody>
            </TableWrapper>
            <hr />
        </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Changing the Color Palette</h2>
        <p>There are multiple ways to change the color palette in Blazor Foundation 6.</p>

        <h3>SASS Version</h3>
        <p>Zurb's Foundation 6 uses SASS to compile its CSS files. Blazor Foundation also uses SASS, in fact, Blazor Foundation compile the master or latest version of Zurb's Foundation 6 along with BF owns changes.</p>
        <h3>Style Management System</h3>
        <p>The best way to change the color palette in BF6 is to use the <NavLink href="/style-management">Style Management System</NavLink>.</p>
        <hr />
    </SectionLeft>
</SectionWrapper>




@code {
    
}
