<div class="headline-wrapper" @attributes=@AdditionalAttributes>
	<div class="headline-divider"></div>
	@ChildContent
	<div class="headline-divider"></div>
</div>

@code {
	[Parameter]
	public RenderFragment ChildContent { get; set; }
	
	[Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes { get; set; }

}