@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div class="@($"thumbnail {Class}")" id="@Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    
}