@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@inject IJSRuntime JSRuntime;

<div class="@($" {Class}")" id="@Id" @attributes="AdditionalAttributes" data-sticky-container>
    @ChildContent
</div>


@code {
    
}
