@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@inject IJSRuntime JSRuntime;

<div class="@($"title-bar {Class}")" id="@Id" data-sticky @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    
}
