@page "/installation"
@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
@inject NavigationManager NavManager;
<SectionWrapper>
    <SectionLeft>
        <h2>Installation</h2>
        <p style=" margin-top: 1em;">
            There are many ways to install Foundation, but if you're just getting started, we have a few suggestions.
        </p>
        @*<ResponsiveEmbedAspectRatio>
            
            <iframe style="margin-top:1em;" width="847" height="476" src="https://www.youtube.com/embed/6KwsGcEHVTE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ResponsiveEmbedAspectRatio>*@

            <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Install with Package Managers</h2>
        <p style=" margin-top: 1em;">
            Blazor Foundation 6 is available on NuGet Gallery.
            The package includes all compiled CSS and JavaScript, in uncompressed and compressed flavors.
        </p>

        <HighlightCS Full="true" Language="txt" Content="SW5zdGFsbC1QYWNrYWdlIE9wZW5Db2RlRGV2LkJsYXpvci5Gb3VuZGF0aW9u"
                        HeaderIcon="mdi-bash" HeaderTitle="Package Manager" />

        <HighlightCS Full="true" Language="txt" Content="ZG90bmV0IGFkZCBwYWNrYWdlIE9wZW5Db2RlRGV2LkJsYXpvci5Gb3VuZGF0aW9u"
                     HeaderIcon="mdi-bash" HeaderTitle=".NET CLI" />

        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>
            <span class="mdi mdi-github" style="color: #000;margin-right:0.1em;"></span>Repository
        </h2>
        <p style=" margin-top: 1em;">
            Since, Blazor Foundation 6 is an open source it is available on github.
        </p>
        <Button style=" margin-top: 1em;" Class="large small-only-expanded" 
                @onclick="@(()=>NavManager.NavigateTo("https://github.com/OpenCodeDev/OpenCodeDev.Blazor.Foundation") )">
            Github Repository
        </Button>
        <hr />
    </SectionLeft>
</SectionWrapper>


<SectionWrapper>
    <SectionLeft>
        <h2>Blazor WebAssembly</h2>
        <p style=" margin-top: 1em;">
            Below you will see how to import the necessary files to get started with coding your blazor app using Blazor Foundation 6.
        </p>

        <p>Open up the file <b>wwwroot/index.html</b></p>
        <HighlightCS Full="true" Language="html" Content="PCEtLSBDb21waWxlZCBDU1Mgb2YgWnVyYiBGb3VuZGF0aW9uIDYgYWxzbyBhdmFpbGFibGUgZm91bmRhdGlvbi5taW4uY3NzIC0tPgo8bGluayBocmVmPSIvX2NvbnRlbnQvT3BlbkNvZGVEZXYuQmxhem9yLkZvdW5kYXRpb24vY3NzL2JmNl9zdGFuZGFyZC5jc3MiIHJlbD0ic3R5bGVzaGVldCIgLz4KCjwhLS0gUmVxdWlyZWQgZm9yIE1ESSBJY29ucyAtLT4KPGxpbmsgaHJlZj0iaHR0cHM6Ly9jZG4ubWF0ZXJpYWxkZXNpZ25pY29ucy5jb20vNS40LjU1L2Nzcy9tYXRlcmlhbGRlc2lnbmljb25zLm1pbi5jc3MiIHJlbD0ic3R5bGVzaGVldCIgLz4KCjwhLS0gLi4uIEJPRFkgLi4uIC0tPgoKPCEtLSBGb290ZXIgQWZ0ZXIgYmxhem9yLndlYmFzc2VtYmx5LmpzIC0tPgo8c2NyaXB0IHNyYz0iL19jb250ZW50L09wZW5Db2RlRGV2LkJsYXpvci5Gb3VuZGF0aW9uL2pzL2pxdWVyeS5qcyI+PC9zY3JpcHQ+CjxzY3JpcHQgc3JjPSIvX2NvbnRlbnQvT3BlbkNvZGVEZXYuQmxhem9yLkZvdW5kYXRpb24vanMvZm91bmRhdGlvbi5qcyI+PC9zY3JpcHQ+CjxzY3JpcHQgc3JjPSIvX2NvbnRlbnQvT3BlbkNvZGVEZXYuQmxhem9yLkZvdW5kYXRpb24vanMvYmxhem9yLWZvdW5kYXRpb24uanMiPjwvc2NyaXB0Pg=="
                     HeaderIcon="mdi-language-html5" HeaderTitle="index.html" HeaderBGcolor="#c51b00" />

        <p>Open up the file <b>Program.cs</b></p>
        <HighlightCS Full="true" Language="cs" Content="dXNpbmcgT3BlbkNvZGVEZXYuQmxhem9yLkZvdW5kYXRpb247CgpwdWJsaWMgc3RhdGljIGFzeW5jIFRhc2sgTWFpbihzdHJpbmdbXSBhcmdzKQp7CiAgICB2YXIgYnVpbGRlciA9IFdlYkFzc2VtYmx5SG9zdEJ1aWxkZXIuQ3JlYXRlRGVmYXVsdChhcmdzKTsKICAgIGJ1aWxkZXIuUm9vdENvbXBvbmVudHMuQWRkPEFwcD4oImFwcCIpOwoKICAgIGJ1aWxkZXIuU2VydmljZXMuQWRkU2NvcGVkKHNwID0+IG5ldyBIdHRwQ2xpZW50IHsgQmFzZUFkZHJlc3MgPSBuZXcgVXJpKGJ1aWxkZXIuSG9zdEVudmlyb25tZW50LkJhc2VBZGRyZXNzKSB9KTsKCiAgICAvLyBSZXF1aXJlZCB0byBNYW5hZ2UgdGhlIFRoZW1lIENvbG9yIFN0eWxlIER5bmFtaWNhbGx5CiAgICBidWlsZGVyLlNlcnZpY2VzLkFkZEFsbEJGUGx1Z2lucygpOwoKICAgIGF3YWl0IGJ1aWxkZXIuQnVpbGQoKS5SdW5Bc3luYygpOwp9" HeaderTitle="Program.cs" />

        <hr />
    </SectionLeft>
</SectionWrapper>


@code {

}
