@page "/installation"
@using Blazor_Foundation_6_Test_Shared.Components.Containers.Section;
@inject NavigationManager NavManager;
<SectionWrapper>
    <SectionLeft>
        <h2>Installation</h2>
        <p style=" margin-top: 1em;">
            There are many ways to install Foundation, but if you're just getting started, we have a few suggestions.
        </p>
        <ResponsiveEmbedAspectRatio>
            <iframe style="margin-top:1em;" width="847" height="476" src="https://www.youtube.com/embed/6KwsGcEHVTE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ResponsiveEmbedAspectRatio>

            <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Install with Package Managers</h2>
        <p style=" margin-top: 1em;">
            Blazor Foundation 6 is available on NuGet Gallery.
            The package includes all compiled CSS and JavaScript, in uncompressed and compressed flavors.
        </p>

        <HighlightCS Full="true" Language="bash" Content="SW5zdGFsbC1QYWNrYWdlIEZsLkJsYXpvci5Gb3VuZGF0aW9u"
                        HeaderIcon="mdi-bash" HeaderTitle="Package Manager" />

        <HighlightCS Full="true" Language="bash" Content="ZG90bmV0IGFkZCBwYWNrYWdlIEZsLkJsYXpvci5Gb3VuZGF0aW9u"
                     HeaderIcon="mdi-bash" HeaderTitle=".NET CLI" />

        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>
            <span class="mdi mdi-github" style="color: #000;margin-right:0.1em;"></span>Repository
        </h2>
        <p style=" margin-top: 1em;">
            Since, Blazor Foundation 6 is an open source it is available on github.
        </p>
        <Button style=" margin-top: 1em;" Class="large small-only-expanded" 
                @onclick="@(()=>NavManager.NavigateTo("https://github.com/OpenCodeDev/blazor_foundation_6") )">
            Github Repository
        </Button>
        <hr />
    </SectionLeft>
</SectionWrapper>


<SectionWrapper>
    <SectionLeft>
        <h2>Blazor WebAssembly</h2>
        <p style=" margin-top: 1em;">
            Below you will see how to import the necessary files to get started with coding your blazor app using Blazor Foundation 6.
        </p>
        <br/>
        <p>Open up the file <b>wwwroot/index.html</b></p>
        <HighlightCS Full="true" Language="html" Content="PCEtLSBDb21waWxlZCBDU1Mgb2YgWnVyYiBGb3VuZGF0aW9uIDYgYWxzbyBhdmFpbGFibGUgZm91bmRhdGlvbi5taW4uY3NzIC0tPgo8bGluayBocmVmPSIvX2NvbnRlbnQvZmwuYmxhem9yLmZvdW5kYXRpb24vY3NzL2ZvdW5kYXRpb24uY3NzIiByZWw9InN0eWxlc2hlZXQiIC8+CjwhLS0gQ29udGFpbiBPdmVycmlkZXMgYW5kIEFkZG9ucyB0byBGb3VuZGF0aW9uIEVsZW1lbnRzIGFuZCBBbHNvIEV4dHJhcyBmcm9tIEJsYXpvciBGb3VuZGF0aW9uIDYuLS0+CjxsaW5rIGhyZWY9Ii9fY29udGVudC9mbC5ibGF6b3IuZm91bmRhdGlvbi9jc3MvYmxhem9yLmZvdW5kYXRpb24uY3NzIiByZWw9InN0eWxlc2hlZXQiIC8+Cgo8IS0tIFJlcXVpcmVkIGZvciBNREkgSWNvbnMgLS0+CjxsaW5rIGhyZWY9Imh0dHBzOi8vY2RuLm1hdGVyaWFsZGVzaWduaWNvbnMuY29tLzUuNC41NS9jc3MvbWF0ZXJpYWxkZXNpZ25pY29ucy5taW4uY3NzIiByZWw9InN0eWxlc2hlZXQiIC8+Cgo8IS0tIE9wdGlvbmFsIHRvIEVuYWJsZSBDb2RlIEhpZ2hsaWdodGVyIC0tPgo8bGluayByZWw9InN0eWxlc2hlZXQiIGhyZWY9Ii8vY2RuanMuY2xvdWRmbGFyZS5jb20vYWpheC9saWJzL2hpZ2hsaWdodC5qcy8xMC43LjEvc3R5bGVzL3ZzLm1pbi5jc3MiPgo8c2NyaXB0IHNyYz0iLy9jZG5qcy5jbG91ZGZsYXJlLmNvbS9hamF4L2xpYnMvaGlnaGxpZ2h0LmpzLzEwLjcuMS9oaWdobGlnaHQubWluLmpzIj48L3NjcmlwdD4="
                     HeaderIcon="mdi-language-html5" HeaderTitle="index.html" HeaderBGcolor="#c51b00" />

        <p>Open up the file <b>Program.cs</b></p>
        <HighlightCS Full="true" Language="cs" Content="cHVibGljIHN0YXRpYyBhc3luYyBUYXNrIE1haW4oc3RyaW5nW10gYXJncykKewogICAgLy8gLi4uCiAgICAvLyBSZXF1aXJlZCB0byBNYW5hZ2UgdGhlIFRoZW1lIENvbG9yIFN0eWxlIER5bmFtaWNhbGx5CiAgICBidWlsZGVyLlNlcnZpY2VzLkFkZFNpbmdsZXRvbjxJU3R5bGVNYW5hZ2VtZW50LCBCRlN0eWxlTWFuYWdlbWVudD4oKTsKICAgIC8vIE9wdGlvbmFsLCBDYW4gYmUgdXNlIG9uIGl0cyBvd24gdG8gY29weSB0ZXh0IHRvIGNsaXBib2FyZCBhbmQgaXQgaXMgcmVxdWlyZWQgaWYgeW91IHVzZSBDb2RlIEhpZ2hsaWdodGVyIChIaWdobGlnaHRDUykKICAgIGJ1aWxkZXIuU2VydmljZXMuQWRkU2luZ2xldG9uPElDbGlwYm9hcmQsIENsaXBib2FyZD4oKTsKICAgIGF3YWl0IGJ1aWxkZXIuQnVpbGQoKS5SdW5Bc3luYygpOwp9"
                     HeaderIcon="mdi-language-csharp" HeaderTitle="Program.cs" HeaderBGcolor="green" />

        <hr />
    </SectionLeft>
</SectionWrapper>


@code {

}
