@page "/installation"
@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
@inject NavigationManager NavManager;
<SectionWrapper>
    <SectionLeft>
        <h2>Installation</h2>
        <p style=" margin-top: 1em;">
            There are many ways to install Foundation, but if you're just getting started, we have a few suggestions.
        </p>
        @*<ResponsiveEmbedAspectRatio>
            
            <iframe style="margin-top:1em;" width="847" height="476" src="https://www.youtube.com/embed/6KwsGcEHVTE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ResponsiveEmbedAspectRatio>*@

            <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Install with Package Managers</h2>
        <p style=" margin-top: 1em;">
            Blazor Foundation 6 is available on NuGet Gallery.
            The package includes all compiled CSS and JavaScripts.
        </p>

        <HighlightCS Full="true" Language="txt" Content="SW5zdGFsbC1QYWNrYWdlIE9wZW5Db2RlRGV2LkJsYXpvci5Gb3VuZGF0aW9u"
                        HeaderIcon="mdi-bash" HeaderTitle="Package Manager" />

        <HighlightCS Full="true" Language="txt" Content="ZG90bmV0IGFkZCBwYWNrYWdlIE9wZW5Db2RlRGV2LkJsYXpvci5Gb3VuZGF0aW9u"
                     HeaderIcon="mdi-bash" HeaderTitle=".NET CLI" />

        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>
            <span class="mdi mdi-github" style="color: #000;margin-right:0.1em;"></span>Repository
        </h2>
        <p style=" margin-top: 1em;">
            Since, Blazor Foundation 6 is an open source it is available on github.
        </p>
        <Button style=" margin-top: 1em;" Class="large small-only-expanded" 
                @onclick="@(()=>NavManager.NavigateTo("https://github.com/OpenCodeDev/OpenCodeDev.Blazor.Foundation") )">
            Github Repository
        </Button>
        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>RTL Support</h2>
        <p style=" margin-top: 1em;">
            Foundation support right-to-left css for hebrew or other cultures reading from right to left.
        </p>
        <p style=" margin-top: 1em;">
            To activate rtl feature, use <Code>bf_rtl.css</Code> and replace html tag to <Code Content="PGh0bWwgY2xhc3M9Im5vLWpzIiBsYW5nPSJoZSIgZGlyPSJydGwiPg==" />.
        </p>
        <h3>Language Code</h3>
        <p>You'll need to change your lang attribute value to match your language. Here's a handy list of common right-to-left languages and their html codes.</p>
        <ul>
            <li>Hebrew: he, iw</li>
            <li>Yiddish: yi, ji</li>
            <li>Arabic: ar</li>
            <li>Farsi: fa</li>            
            <li>Urdu: ur</li>
        </ul>
        <NavLink href="https://www.loc.gov/standards/iso639-2/php/code_list.php">See more Languages</NavLink>
        <hr />
    </SectionLeft>
</SectionWrapper>


<SectionWrapper>
    <SectionLeft>
        <h2>Blazor WebAssembly</h2>
        <p style=" margin-top: 1em;">
            Below you will see how to import the necessary files to get started with coding your blazor app using Blazor Foundation 6.
        </p>

        <p>Open up the file <Code>wwwroot/index.html</Code></p>
        <HighlightCS Full="true" Language="html" Content="PCEtLSBiZjZfb25seS5jc3MgcHJvdmlkZSBibGF6b3IgZm91bmRhdGlvbiA2IG92ZXJyaWRlcyBhbmQgY3VzdG9tIGNsYXNzZXMgLS0+CjwhLS0gVGhpcyB3aWxsIGluY2x1ZGUgRm91bmRhdGlvbiA2IGFuZCBCbGF6b3IgRm91bmRhdGlvbiAtLT4KPGxpbmsgaHJlZj0iL19jb250ZW50L09wZW5Db2RlRGV2LkJsYXpvci5Gb3VuZGF0aW9uL2Nzcy9iZjZfc3RhbmRhcmQuY3NzIiByZWw9InN0eWxlc2hlZXQiIC8+CiAgICAKPCEtLSBpZiB5b3UgcHJlZmVyIHVzaW5nIG9mZmljaWFsIFp1cmIgRm91bmRhdGlvbiBDU1MgbWFrZSBzdXJlIHRvIHNlbGVjdCB0aGUgZnVsbCBmZWF0dXJlIGFuZCBpbmNsdWRlIGl0IGJlZm9yZSBiZjZfb25seS5jc3MgLS0+Cgo8IS0tIEluY2x1ZGUgTURJIGZvciBtYXhpbXVtIGNvbXBvbmVudCBzdXBwb3J0IC0tPgo8bGluayBocmVmPSJodHRwczovL2Nkbi5tYXRlcmlhbGRlc2lnbmljb25zLmNvbS81LjQuNTUvY3NzL21hdGVyaWFsZGVzaWduaWNvbnMubWluLmNzcyIgcmVsPSJzdHlsZXNoZWV0IiAvPgoKPCEtLSAuLi4gQk9EWSAuLi4gLS0+Cgo8IS0tIEZvb3RlciBBZnRlciBibGF6b3Iud2ViYXNzZW1ibHkuanMgLS0+Cgo8IS0tIGJmNl9vbmx5LmpzID0gSlF1ZXJ5LCBXaGF0LUlucHV0IGFuZCBCbGF6b3IgRm91bmRhdGlvbiBleGNsdWRpbmcgRm91bmRhdGlvbiA2IC0tPgo8IS0tIGJmNl9zdGFuZGFyZC5qcyAoUmVjb21tZW5kZWQpID0gSlF1ZXJ5LCBXaGF0LUlucHV0LCBGb3VuZGF0aW9uIDYgYW5kIEJsYXpvciBGb3VuZGF0aW9uIC0tPgo8c2NyaXB0IHNyYz0iL19jb250ZW50L09wZW5Db2RlRGV2LkJsYXpvci5Gb3VuZGF0aW9uL2pzL2JmNl9zdGFuZGFyZC5qcyI+PC9zY3JpcHQ+"
                     HeaderIcon="mdi-language-html5" HeaderTitle="index.html" HeaderBGcolor="#c51b00" />

        <p>Open up the file <Code>Program.cs</Code></p>
        <HighlightCS Full="true" Language="cs" Content="dXNpbmcgT3BlbkNvZGVEZXYuQmxhem9yLkZvdW5kYXRpb247CmJ1aWxkZXIuU2VydmljZXMuQWRkQWxsQkZQbHVnaW5zKCk7Cg==" HeaderTitle="Program.cs" />

        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Blazor Server</h2>
        <Callout TypeClass="warning" Size="small">
            <p>We are still testing BF on Blazor Server... we made many mistakes when focusing on WASM and are actively tracking down problems to fix. 
                At the moment, it seems stable for production but keep an eye out for us!</p>
        </Callout>
        <p style=" margin-top: 1em;">
            Below you will see how to import the necessary files to get started with coding your blazor app using Blazor Foundation 6.
        </p>

        <p>Open up the file <Code>Pages/_Layout.cshtml</Code></p>
        <HighlightCS Full="true" Language="html" Content="PCEtLSBiZjZfb25seS5jc3Mgb25seSBwcm92aWRlIGJsYXpvciBmb3VuZGF0aW9uIDYgb3ZlcnJpZGVzIGFuZCBjdXN0b20gY2xhc3NlcyAtLT4KPCEtLSBUaGlzIHdpbGwgaW5jbHVkZSBGb3VuZGF0aW9uIDYgYW5kIEJsYXpvciBGb3VuZGF0aW9uIC0tPgo8bGluayBocmVmPSIvX2NvbnRlbnQvT3BlbkNvZGVEZXYuQmxhem9yLkZvdW5kYXRpb24vY3NzL2JmNl9zdGFuZGFyZC5jc3MiIHJlbD0ic3R5bGVzaGVldCIgLz4KICAgIAo8IS0tIGlmIHlvdSBwcmVmZXIgdXNpbmcgb2ZmaWNpYWwgWnVyYiBGb3VuZGF0aW9uIENTUyBtYWtlIHN1cmUgdG8gc2VsZWN0IHRoZSBmdWxsIGZlYXR1cmUgYW5kIGluY2x1ZGUgaXQgYmVmb3JlIGJmNl9vbmx5LmNzcyAtLT4KCjwhLS0gSW5jbHVkZSBNREkgZm9yIG1heGltdW0gY29tcG9uZW50IHN1cHBvcnQgLS0+CjxsaW5rIGhyZWY9Imh0dHBzOi8vY2RuLm1hdGVyaWFsZGVzaWduaWNvbnMuY29tLzUuNC41NS9jc3MvbWF0ZXJpYWxkZXNpZ25pY29ucy5taW4uY3NzIiByZWw9InN0eWxlc2hlZXQiIC8+Cgo8IS0tIC4uLiBCT0RZIC4uLiAtLT4KCjwhLS0gRm9vdGVyIEFmdGVyIGJsYXpvci5zZXJ2ZXIuanMgLS0+Cgo8IS0tIGJmNl9vbmx5LmpzID0gSlF1ZXJ5LCBXaGF0LUlucHV0IGFuZCBCbGF6b3IgRm91bmRhdGlvbiBleGNsdWRpbmcgRm91bmRhdGlvbiA2IC0tPgo8IS0tIGJmNl9zdGFuZGFyZC5qcyAoUmVjb21tZW5kZWQpID0gSlF1ZXJ5LCBXaGF0LUlucHV0LCBGb3VuZGF0aW9uIDYgYW5kIEJsYXpvciBGb3VuZGF0aW9uIC0tPgo8c2NyaXB0IHNyYz0iL19jb250ZW50L09wZW5Db2RlRGV2LkJsYXpvci5Gb3VuZGF0aW9uL2pzL2JmNl9zdGFuZGFyZC5qcyI+PC9zY3JpcHQ+"
                     HeaderIcon="mdi-language-html5" HeaderTitle="_Layout.cshtml" HeaderBGcolor="#c51b00" />

        <p>Open up the file <Code>Program.cs</Code></p>
        <HighlightCS Full="true" Language="cs" Content="Ly8gYXMgb2YgMy4wLjggdGhpcyB3aWxsIHdvcmsgb24gYmxhem9yIHNlcnZlcgpidWlsZGVyLlNlcnZpY2VzLkFkZEFsbEJGUGx1Z2lucygpOwovLyBwcmlvciB0byAzLjAuOCB5b3UgaGF2ZSB0byBhZGQgU2NvcGVkIGJlY2F1c2UgZXh0ZW5zaW9uIGFkZCBzaW5nbGV0b25zCmJ1aWxkZXIuU2VydmljZXMuQWRkU2NvcGVkPElTdHlsZU1hbmFnZW1lbnQsIEJGU3R5bGVNYW5hZ2VtZW50PigpOwpidWlsZGVyLlNlcnZpY2VzLkFkZFNjb3BlZDxJTW90aW9uVUlDb250cm9sbGVyLCBNb3Rpb25VSUNvbnRyb2xsZXI+KCk7" HeaderTitle="Program.cs" />
        <hr />
    </SectionLeft>
</SectionWrapper>


@code {

}
