@page "/welcome"
@page "/"
@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.HeroBanner;
@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
@inject NavigationManager NavManager;
<HeroWrapper>
    <HeroText>
        <h2>Welcome to Blazor Foundation 6</h2>
        <h5 style=" color: #a9d6f4; line-height: 1.5; ">We are building BF6 for Web App and PWA to let you code as much c# as possible and let us handle ZURB Foundation 6's JS.</h5>

    </HeroText>
    <HeroMedia>
        @*<ResponsiveEmbedAspectRatio>
            <iframe width="584" height="329"
                    src="https://www.youtube.com/embed/JC6xMe_2EFE" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </ResponsiveEmbedAspectRatio>*@

    </HeroMedia>
</HeroWrapper>
<SectionWrapper>
    <SectionLeft>
        <h2>Installing Blazor Foundation 6</h2>
        <p style=" margin-top: 1em;">There are a number of ways to install Blazor Foundation 6 for Web App and PWA. Our installation page will help you find the best option for you.</p>
        <Button style=" margin-top: 1em;" Class="large small-only-expanded" @onclick="@(()=>NavManager.NavigateTo("/installation") )">
            Install Blazor Foundation 6
        </Button>
        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>New to BF6 For Web App and PWA?</h2>
        <p style=" margin-top: 1em;">
            Blazor Foundation 6 is a C#/Blazor Framework that converts mainly ZURB Foundation 6 components into blazor components.
            We are able to use the Blazor Foundation 6 components without having to initialize ZURB Foudation 6's Javascripts, we are handling it for you.
            The goal is for you to write as much C# as possible without having to deal too much with JS, this is why we are building a framework that intergrates other JS libraries.
        </p>
        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Experienced with BF6 For Web App and PWA?</h2>
        <p style=" margin-top: 1em;">
            Blazor Foundation 6 is a C#/Blazor Framework that converts mainly ZURB Foundation 6 components into blazor components.
            We are able to use the Blazor Foundation 6 components without having to initialize ZURB Foudation 6's Javascripts, we are handling it for you.
            The goal is for you to write as much C# as possible without having to deal too much with JS, this is why we are building a framework that intergrates other JS libraries.
        </p>
        <hr />
    </SectionLeft>
</SectionWrapper>



@code {
    public static Button testRef { get; set; }
    public RenderFragment test =@<Button Id="TEST" @ref="testRef">Test Button</Button>;
    
}
