@page "/localstorage";

@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;

<SectionWrapper>
    <SectionLeft>
        <h2>What is that?</h2>
        <p>
            Localstorage is a very useful way to save user data into the browser, <strong>*kinda*</strong> replacement for cookies,
            in short you can save session token, config that doesn't save on necesserly on the server... some even save app state if connection is lost not to lose data, very useful!.
        </p>
        <p>You will need nuget <Code>@("OpenCodeDev.Blazor.Foundation.Extensions")</Code>.</p>

        <h2>How to use?</h2>
        <p>Got to <Code>Program.cs</Code> and add the following line</p>
        <HighlightCS Language="cs" Full="true" HeaderTitle="Program.cs" Content="builder.Services.AddBFLocalStorage();" />
        <p>You can now inject service into any page <Code>@("@inject ILocalStorage LocalStorage;")</Code></p>
       
        <HighlightCS Language="cs" Full="true"
                     Content="Ly8gU2F2ZSB0byBzdG9yYWdlCmF3YWl0IGxvY2FsU3RvcmFnZS5TZXQoIkVudHJ5IiwgInRydWUiKTsKCi8vIFJldHJpZXZlIGEgdmFsdWUKc3RyaW5nIHZhbHVlID0gYXdhaXQgbG9jYWxTdG9yYWdlLlNldCgiRW50cnkiKTsKCi8vIFJlbW92ZSBmcm9tIHN0b3JhZ2UKYXdhaXQgbG9jYWxTdG9yYWdlLlJlbW92ZSgiRW50cnkiKTsKCi8vIFJlbW92ZSBBbGwgU3RvcmFnZQphd2FpdCBsb2NhbFN0b3JhZ2UuQ2xlYXIoKTs=" />

        <p>Note: we do not support type parsing but that is something we are planning to add later.</p>

        <Callout Size="small" TypeClass="warning">
            <p>Untested for Blazor-Server might not work properly, check for session leaks.</p>
        </Callout>
        <hr />
    </SectionLeft>
</SectionWrapper>

