@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime;

<div class="@($"dropdown-pane {Class}")" data-position="@Position" data-alignment="@DataAlignment" id="@Id" @attributes="AdditionalAttributes" data-dropdown data-auto-focus="true">
    @ChildContent
</div>

@code {

}
