@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div class="@($"media-object {Class}")" id="@Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>


@code {
    
}