@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div id="@Id" position="right" class="@($"bf-menu-system-panel bf-menu-system-panel-right {Class}")" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    
}

