@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@inject IJSRuntime JSRuntime;


<div id="@Id" ms-data-identity="MenuSystem" class="@($"bf-menu-system {Class}")" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    
}

