@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@inject IJSRuntime JSRuntime;
<div id="@Id" position="top" class="@($"bf-menu-system-panel bf-menu-system-panel-top {Class}")" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    
}

