@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<li class="@($"tabs-title {Class} {(Active ? "is-active" : "")}")" @attributes="AdditionalAttributes">
    <a href="#@Id" aria-selected="@Active.ToString().ToLower()">@ChildContent</a>
</li>

@code {

}
