
@if (HorizontalScroll)
{
    <div class="table-scroll">
        <table class="@($" {(Striped ? "" : "unstriped")} {(Hover ? "hover" : "")} {(Stacked ? "stack" : "")}")" @attributes="AdditionalAttributes">
            @ChildContent
        </table>
    </div>
}
else
{
    <table class="@($" {(Striped ? "" : "unstriped")} {(Hover ? "hover" : "")} {(Stacked ? "stack" : "")}")" @attributes="AdditionalAttributes">
        @ChildContent
    </table>
}

@code {

}
