<h1>Support this Project</h1>
<p>OpenCodeDev develops open source project to help the developper community.</p>
<p>Any donation made to the project is invested directly into the project.</p>
<GridX HorizontalMargin="true">
    <Cell Size="small-6 medium-4">
        <GridY>
            <Cell><img src="/bat.png" /></Cell>
            <Cell><p style=" overflow-wrap: anywhere;font-size: small;">0x026D9E0f790Df003F28c5BA5E99A0d3b7F784B2C</p></Cell>
        </GridY>
    </Cell>
    <Cell Size="small-6 medium-4">
        <GridY>
            <Cell><img src="/eth.png" /></Cell>
            <Cell><p style=" overflow-wrap: anywhere;font-size: small;">0x026D9E0f790Df003F28c5BA5E99A0d3b7F784B2C</p></Cell>
        </GridY>
    </Cell>
    <Cell Size="small-6 medium-4">
        <GridY>
            <Cell><img src="/btc.png" /></Cell>
            <Cell><p style=" overflow-wrap: anywhere;font-size: small;">bc1qp9f08e26zxrxh6yq7lsxx0vs3rxseje6h6cag8</p></Cell>
        </GridY>
    </Cell>
</GridX>

@code {

}
