<NavLink href="https://bf.opencodedev.com/">
    <span class="mdi" style="padding-right: 0.3em; padding: 1.25rem 1rem; font-weight: 600; font-size: 1.15rem; color: #1779ba; line-height: 2.5em;">
        <span class="mdi mdi-arrow-left-bold" style=" ">

        </span>
        Home
    </span>
</NavLink>

<AccordionItem Title="OpenCodeDev" Active="true">
    <MenuNested Vertical="true">
        <li><NavLink href="https://bf.opencodedev.com/" data-close="SideMenu">Home</NavLink></li>
        @*<li><NavLink href="https://bf.opencodedev.com/courses" data-close="SideMenu">Courses</NavLink></li>*@
    </MenuNested>
</AccordionItem>
@code {

}
