@page "/callout";

@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
@using OpenCodeDev.Blazor.Foundation.Components.Controls;
@using OpenCodeDev.Blazor.Foundation.Components.Containers;

<SectionWrapper>
    <SectionLeft>
        <h2>Callout</h2>

        <h2>Basic</h2>
        <p>You can put any kind of content inside the callout component by using <Code Content="PENhbGxvdXQ+"></Code>.</p>
        <HighlightCS Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PENhbGxvdXQ+CiAgICA8aDU+VGhpcyBpcyBhIGNhbGxvdXQuPC9oNT4KICAgIDxwPkl0IGhhcyBhbiBlYXN5IHRvIG92ZXJyaWRlIHZpc3VhbCBzdHlsZSwgYW5kIGlzIGFwcHJvcHJpYXRlbHkgc3ViZHVlZC48L3A+CiAgICA8TmF2TGluayBocmVmPSIjIj5JdCdzIGRhbmdlcm91cyB0byBnbyBhbG9uZSwgdGFrZSB0aGlzLjwvTmF2TGluaz4KPC9DYWxsb3V0Pg==" />

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>
            <h5>This is a callout.</h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <NavLink href="#">It's dangerous to go alone, take this.</NavLink>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>
        <hr />

    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Coloring</h2>
        <p>
            Callouts can be colored using the <Code>TypeClass=""</Code> attribute. Links inside the callout will be tinted to match the color of the callout.
        </p>
        <HighlightCS Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PENhbGxvdXQgVHlwZUNsYXNzPSJzZWNvbmRhcnkiPgogICAgPGg1PlRoaXMgaXMgYSBzZWNvbmRhcnkgY2FsbG91dC48L2g1PgogICAgPHA+SXQgaGFzIGFuIGVhc3kgdG8gb3ZlcnJpZGUgdmlzdWFsIHN0eWxlLCBhbmQgaXMgYXBwcm9wcmlhdGVseSBzdWJkdWVkLjwvcD4KICAgIDxOYXZMaW5rIGhyZWY9IiMiPkl0J3MgZGFuZ2Vyb3VzIHRvIGdvIGFsb25lLCB0YWtlIHRoaXMuPC9OYXZMaW5rPgo8L0NhbGxvdXQ+" />

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="secondary">
            <h5>This is a secondary callout.</h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <NavLink href="#">It's dangerous to go alone, take this.</NavLink>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="primary">
            <h5>This is a primary callout.</h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <NavLink href="#">It's dangerous to go alone, take this.</NavLink>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="success">
            <h5>This is success a callout.</h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <NavLink href="#">It's dangerous to go alone, take this.</NavLink>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="warning">
            <h5>This is a warning callout.</h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <NavLink href="#">It's dangerous to go alone, take this.</NavLink>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="alert">
            <h5>This is an alert callout.</h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <NavLink href="#">It's dangerous to go alone, take this.</NavLink>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>
        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Sizing</h2>
        <p>Callouts can be sized using Size <Code>Size="small"</Code> and <Code>Size="large"</Code>. These will affect the padding around content to be smaller and larger respectively.</p>
        <HighlightCS Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PENhbGxvdXQgU2l6ZT0ic21hbGwiPgogICAgPGg1PlRoaXMgaXMgYSBzbWFsbCBjYWxsb3V0PC9oNT4KICAgIDxwPkl0IGhhcyBhbiBlYXN5IHRvIG92ZXJyaWRlIHZpc3VhbCBzdHlsZSwgYW5kIGlzIGFwcHJvcHJpYXRlbHkgc3ViZHVlZC48L3A+CiAgICA8TmF2TGluayBocmVmPSIjIj5JdCdzIGRhbmdlcm91cyB0byBnbyBhbG9uZSwgdGFrZSB0aGlzLjwvTmF2TGluaz4KPC9DYWxsb3V0PgoKPENhbGxvdXQgU2l6ZT0ibGFyZ2UiPgogICAgPGg1PlRoaXMgaXMgYSBsYXJnZSBjYWxsb3V0PC9oNT4KICAgIDxwPkl0IGhhcyBhbiBlYXN5IHRvIG92ZXJyaWRlIHZpc3VhbCBzdHlsZSwgYW5kIGlzIGFwcHJvcHJpYXRlbHkgc3ViZHVlZC48L3A+CiAgICA8TmF2TGluayBocmVmPSIjIj5JdCdzIGRhbmdlcm91cyB0byBnbyBhbG9uZSwgdGFrZSB0aGlzLjwvTmF2TGluaz4KPC9DYWxsb3V0Pg==" />

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout Size="small">
            <h5>This is a small callout</h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <NavLink href="#">It's dangerous to go alone, take this.</NavLink>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout Size="large">
            <h5>This is a large callout</h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <NavLink href="#">It's dangerous to go alone, take this.</NavLink>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>
        <hr />
    </SectionLeft>
</SectionWrapper>


<SectionWrapper>
    <SectionLeft>
        <h2>Making Closable</h2>
        <p>Pair the callout with the <Code>CloseButton</Code> attribute and <Code>ClosableData</Code> attribute to create a dismissable alert box.</p>
        <p>You can use the <Code>ClosableButtonCallBack</Code> attribute to add an event callback.</p>

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="primary">
            Any element can be used as a close trigger, not just close button. Adding the attribute <Code>CloseButton="true"</Code> to any element within the callout will turn it into a close trigger.

            When using the <Code>ClosableData</Code> attribute, you can optionally add <a href="https://get.foundation/sites/docs/motion-ui.html">Motion UI</a> classes to the attribute to change the closing animation. If no class is added, <Code>fade-out</Code> will be used by default.
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>
        <HighlightCS Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PENhbGxvdXQgQ2xvc2VCdXR0b249InRydWUiIFR5cGVDbGFzcz0iYWxlcnQiIENsb3NhYmxlRGF0YT0iIj4KICAgIDxoNT5UaGlzIGlzIEltcG9ydGFudCE8L2g1PgogICAgPHA+QnV0IHdoZW4geW91J3JlIGRvbmUgcmVhZGluZyBpdCwgY2xpY2sgdGhlIGNsb3NlIGJ1dHRvbiBpbiB0aGUgY29ybmVyIHRvIGRpc21pc3MgdGhpcyBhbGVydC48L3A+CiAgICA8cD5JJ20gdXNpbmcgdGhlIGRlZmF1bHQgPENvZGU+Q2xvc2FibGVEYXRhPC9Db2RlPiBwYXJhbWV0ZXJzLCBhbmQgc2ltcGx5IGZhZGUgb3V0LjwvcD4KPC9DYWxsb3V0PgoKPENhbGxvdXQgQ2xvc2VCdXR0b249InRydWUiIFR5cGVDbGFzcz0ic3VjY2VzcyIgQ2xvc2FibGVEYXRhPSJzbGlkZS1vdXQtcmlnaHQiPgogICAgPGg1PlRoaXMgYSBmcmllbmRseSBtZXNzYWdlLjwvaDU+CiAgICA8cD5BbmQgd2hlbiB5b3UncmUgZG9uZSB3aXRoIG1lLCBJIGNhbiBiZSBjbG9zZWQgdXNpbmcgYSBNb3Rpb24gVUkgYW5pbWF0aW9uLjwvcD4KPC9DYWxsb3V0Pg==" />

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout CloseButton="true" TypeClass="alert" ClosableData="">
            <h5>This is Important!</h5>
            <p>But when you're done reading it, click the close button in the corner to dismiss this alert.</p>
            <p>I'm using the default <Code>ClosableData</Code> parameters, and simply fade out.</p>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout CloseButton="true" TypeClass="success" ClosableData="slide-out-right">
            <h5>This a friendly message.</h5>
            <p>And when you're done with me, I can be closed using a Motion UI animation.</p>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>


    </SectionLeft>
</SectionWrapper>

@code {

}
