@page "/responsive_accordion_tabs";

@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
@using OpenCodeDev.Blazor.Foundation.Components.Controls;
@using OpenCodeDev.Blazor.Foundation.Components.Containers;
@using Microsoft.AspNetCore.Components.Forms;



<SectionWrapper>
    <SectionLeft>
        <h2>Responsive Accordion Tabs</h2>
        <p>
            You have the choice to use the Accordion component or Tabs component to create Responsive Accordion Tabs.
        </p>
        <h2>Basics</h2>
        <p>
            Either the <NavLink href="/accordion">Accordion Components</NavLink> or the <NavLink href="/tabs">Tabs Components</NavLink> can be used to responsively switch between the two components at different breakpoints.
            The Accordion must have an id specified.
            Accordion content must also have an ID, or the # of the href should be specified.
        </p>
        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="secondary">
            The accordion/tabs values can be in any order.
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

        <h2>Accordion Components</h2>
        <HighlightCS Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PEFjY29yZGlvbj4KICAgIDxBY2NvcmRpb25JdGVtIFRpdGxlPSJBY2NvcmRpb24gMSI+CiAgICAgICAgSSB3b3VsZCBzdGFydCBpbiB0aGUgb3BlbiBzdGF0ZSwgZHVlIHRvIHVzaW5nIHRoZSBgaXMtYWN0aXZlYCBzdGF0ZSBjbGFzcy4KICAgIDwvQWNjb3JkaW9uSXRlbT4KICAgIDwhLS0gLi4uIC0tPgo8L0FjY29yZGlvbj4=" />

        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="secondary">
            Once you put it all together, here's what you get!
            Scale your browser down to see the toggle happen.
            I am an <Code>Accordion on small and large</Code> but I am <Code>Tabs on medium</Code>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>
        <OpenCodeDev.Blazor.Foundation.Components.Containers.Accordion>
            <AccordionItem Active="true" Title="Accordion 1">
                <p>Panel 1. Lorem ipsum dolor</p>
                <NavLink href="#">Nowhere to Go</NavLink>
            </AccordionItem>
            <AccordionItem Title="Accordion 2">
                <p>Enter your card number</p>
                <InputCreditCard @bind-Card="@Number" />
                <Button Class="primary">I do nothing!</Button>
            </AccordionItem>
            <AccordionItem Title="Accordion 3">
                <p>Some button</p>
                <Button Class="primary">Primary</Button>
                <Button Class="secondary">Secondary</Button>
                <Button Class="success">Success</Button>
                <Button Class="alert">Alert</Button>
                <Button Class="warning">Warning</Button>
            </AccordionItem>
            <!-- ... -->
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Accordion>

        <h2>Tabs Components</h2>
        <HighlightCS Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PFRhYkhlYWRlciBJZD0iZXhhbXBsZS10YWJzIj4KICAgIDxUYWJIZWFkZXJUaXRsZSBBY3RpdmU9InRydWUiIElkPSJwYW5lbC0xIj5UYWIgMTwvVGFiSGVhZGVyVGl0bGU+CiAgICA8VGFiSGVhZGVyVGl0bGUgSWQ9InBhbmVsLTIiPlRhYiAyPC9UYWJIZWFkZXJUaXRsZT4KICAgIDxUYWJIZWFkZXJUaXRsZSBJZD0icGFuZWwtMyI+VGFiIDM8L1RhYkhlYWRlclRpdGxlPgogICAgPFRhYkhlYWRlclRpdGxlIElkPSJwYW5lbC00Ij5UYWIgNDwvVGFiSGVhZGVyVGl0bGU+CiAgICA8VGFiSGVhZGVyVGl0bGUgSWQ9InBhbmVsLTUiPlRhYiA1PC9UYWJIZWFkZXJUaXRsZT4KICAgIDxUYWJIZWFkZXJUaXRsZSBJZD0icGFuZWwtNiI+VGFiIDY8L1RhYkhlYWRlclRpdGxlPgo8L1RhYkhlYWRlcj4KPFRhYkNvbnRlbnRXcmFwcGVyIExpbmtJZD0iZXhhbXBsZS10YWJzIj4KICAgIDxUYWJDb250ZW50IEFjdGl2ZT0idHJ1ZSIgSWQ9InBhbmVsLTEiPgogICAgICAgIDxwPm9uZTwvcD4KICAgICAgICA8cD5DaGVjayBtZSBvdXQhIEknbSBhIHN1cGVyIGNvb2wgVGFiIHBhbmVsIHdpdGggdGV4dCBjb250ZW50ITwvcD4KICAgIDwvVGFiQ29udGVudD4KICAgIDxUYWJDb250ZW50IElkPSJwYW5lbC0yIj4KICAgICAgICA8cD50d288L3A+CiAgICAgICAgPGltZyBjbGFzcz0idGh1bWJuYWlsIiBzcmM9ImFzc2V0cy9pbWcvZ2VuZXJpYy9yZWN0YW5nbGUtNy5qcGciPgogICAgPC9UYWJDb250ZW50PgogICAgPFRhYkNvbnRlbnQgSWQ9InBhbmVsLTMiPgogICAgICAgIDxwPnRocmVlPC9wPgogICAgICAgIDxwPkNoZWNrIG1lIG91dCEgSSdtIGEgc3VwZXIgY29vbCBUYWIgcGFuZWwgd2l0aCB0ZXh0IGNvbnRlbnQhPC9wPgogICAgPC9UYWJDb250ZW50PgogICAgPFRhYkNvbnRlbnQgSWQ9InBhbmVsLTQiPgogICAgICAgIDxwPmZvdXI8L3A+CiAgICAgICAgPGltZyBjbGFzcz0idGh1bWJuYWlsIiBzcmM9ImFzc2V0cy9pbWcvZ2VuZXJpYy9yZWN0YW5nbGUtMi5qcGciPgogICAgPC9UYWJDb250ZW50PgogICAgPFRhYkNvbnRlbnQgSWQ9InBhbmVsLTUiPgogICAgICAgIDxwPmZpdmU8L3A+CiAgICAgICAgPHA+Q2hlY2sgbWUgb3V0ISBJJ20gYSBzdXBlciBjb29sIFRhYiBwYW5lbCB3aXRoIHRleHQgY29udGVudCE8L3A+CiAgICA8L1RhYkNvbnRlbnQ+CiAgICA8VGFiQ29udGVudCBJZD0icGFuZWwtNiI+CiAgICAgICAgPHA+c2l4PC9wPgogICAgICAgIDxpbWcgY2xhc3M9InRodW1ibmFpbCIgc3JjPSJhc3NldHMvaW1nL2dlbmVyaWMvcmVjdGFuZ2xlLTguanBnIj4KICAgIDwvVGFiQ29udGVudD4KPC9UYWJDb250ZW50V3JhcHBlcj4=" />
        
        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="secondary">
            Once you put it all together, here's what you get!
            Scale your browser down to see the toggle happen.
            I am an <Code>Accordion on small and large</Code> but I am <Code>Tabs on medium</Code>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

        <TabHeader Id="example-tabs">
            <TabHeaderTitle Active="true" Id="panel-1">Tab 1</TabHeaderTitle>
            <TabHeaderTitle Id="panel-2">Tab 2</TabHeaderTitle>
            <TabHeaderTitle Id="panel-3">Tab 3</TabHeaderTitle>
            <TabHeaderTitle Id="panel-4">Tab 4</TabHeaderTitle>
            <TabHeaderTitle Id="panel-5">Tab 5</TabHeaderTitle>
            <TabHeaderTitle Id="panel-6">Tab 6</TabHeaderTitle>
        </TabHeader>
        <TabContentWrapper LinkId="example-tabs">
            <TabContent Active="true" Id="panel-1">
                <p>one</p>
                <p>Check me out! I'm a super cool Tab panel with text content!</p>
            </TabContent>
            <TabContent Id="panel-2">
                <p>two</p>
                <img class="thumbnail" src="https://get.foundation/sites/docs/assets/img/generic/rectangle-7.jpg">
            </TabContent>
            <TabContent Id="panel-3">
                <p>three</p>
                <p>Check me out! I'm a super cool Tab panel with text content!</p>
            </TabContent>
            <TabContent Id="panel-4">
                <p>four</p>
                <img class="thumbnail" src="https://get.foundation/sites/docs/assets/img/generic/rectangle-2.jpg">
            </TabContent>
            <TabContent Id="panel-5">
                <p>five</p>
                <p>Check me out! I'm a super cool Tab panel with text content!</p>
            </TabContent>
            <TabContent Id="panel-6">
                <p>six</p>
                <img class="thumbnail" src="https://get.foundation/sites/docs/assets/img/generic/rectangle-8.jpg">
            </TabContent>
        </TabContentWrapper>
        <br />
        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="success">
            The responsive behavior can be set through the <Code>ResponsiveBehavior=""</Code> option.
            <Code>small-tabs</Code>, <Code>small-accordion</Code>, <Code>medium-tabs</Code> sets the behavior.
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

    </SectionLeft>
</SectionWrapper>

@code {
    private string _Number = "";
    public string Number { get => _Number; set { Console.WriteLine(value); _Number = value; } }
}
