<GridX VerticalPadding=true HorizontalPadding=true style="padding-left: 5em;padding-right: 5em;">
        <Cell Size="small-auto medium-6 large-4">
            <Card Class="VerticalMenuPageMenuItemCard">
                <CardSection>
                    <GridX>
                        <Cell Size="small-auto">
                            <div class="VerticalMenuPageMenuItemHeader">
                                <h5 class="VerticalMenuPageMenuItemHeaderTitle">Menu A</h5>
                                <div class="VerticalMenuPageMenuItemHeaderIcon">
                                    <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M364.8 106.666667L298.666667 172.8 637.866667 512 298.666667 851.2l66.133333 66.133333L768 512z" fill="#2175e4"></path></g></svg>
                                </div>
                            </div>
                        </Cell>
                        <Cell Size="small-auto">
                            <div class="VerticalMenuPageMenuItemDesc">
                                <p class="VerticalMenuPageMenuItemDescText">This is description of a menu.</p>
                                <div class="VerticalMenuPageMenuItemDescIcon">
                                    <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M853.333333 448h85.333334v490.666667h-85.333334zM725.333333 597.333333h85.333334v341.333334h-85.333334zM597.333333 490.666667h85.333334v448h-85.333334zM469.333333 618.666667h85.333334v320h-85.333334zM341.333333 682.666667h85.333334v256h-85.333334zM213.333333 640h85.333334v298.666667h-85.333334zM85.333333 725.333333h85.333334v213.333334H85.333333z" fill="#4CAF50"></path><path d="M855.466667 194.133333L725.333333 324.266667l-85.333333-85.333334-213.333333 213.333334-106.666667-106.666667L98.133333 567.466667l59.733334 59.733333 162.133333-162.133333 106.666667 106.666666 213.333333-213.333333 85.333333 85.333333 189.866667-189.866666z" fill="#388E3C"></path><path d="M938.666667 170.666667h-192l192 192z" fill="#388E3C"></path></g></svg>
                                </div>
                            </div>
                        </Cell>
                    </GridX>
                </CardSection>
            </Card>

        </Cell>
        <Cell Size="small-auto medium-6 large-4">
            <Card Class="VerticalMenuPageMenuItemCard">
                <CardSection>
                    <GridX>
                        <Cell Size="small-auto">
                            <div class="VerticalMenuPageMenuItemHeader">
                                <h5 class="VerticalMenuPageMenuItemHeaderTitle">Menu A</h5>
                                <div class="VerticalMenuPageMenuItemHeaderIcon">
                                    <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M364.8 106.666667L298.666667 172.8 637.866667 512 298.666667 851.2l66.133333 66.133333L768 512z" fill="#2175e4"></path></g></svg>
                                </div>
                            </div>
                        </Cell>
                        <Cell Size="small-auto">
                            <div class="VerticalMenuPageMenuItemDesc">
                                <p class="VerticalMenuPageMenuItemDescText">This is description of a menu.</p>
                                <div class="VerticalMenuPageMenuItemDescIcon">
                                    <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M853.333333 448h85.333334v490.666667h-85.333334zM725.333333 597.333333h85.333334v341.333334h-85.333334zM597.333333 490.666667h85.333334v448h-85.333334zM469.333333 618.666667h85.333334v320h-85.333334zM341.333333 682.666667h85.333334v256h-85.333334zM213.333333 640h85.333334v298.666667h-85.333334zM85.333333 725.333333h85.333334v213.333334H85.333333z" fill="#4CAF50"></path><path d="M855.466667 194.133333L725.333333 324.266667l-85.333333-85.333334-213.333333 213.333334-106.666667-106.666667L98.133333 567.466667l59.733334 59.733333 162.133333-162.133333 106.666667 106.666666 213.333333-213.333333 85.333333 85.333333 189.866667-189.866666z" fill="#388E3C"></path><path d="M938.666667 170.666667h-192l192 192z" fill="#388E3C"></path></g></svg>
                                </div>
                            </div>
                        </Cell>
                    </GridX>
                </CardSection>
            </Card>

        </Cell>
        <Cell Size="small-auto medium-6 large-4">
            <Card Class="VerticalMenuPageMenuItemCard">
                <CardSection>
                    <GridX>
                        <Cell Size="small-auto">
                            <div class="VerticalMenuPageMenuItemHeader">
                                <h5 class="VerticalMenuPageMenuItemHeaderTitle">Menu A</h5>
                                <div class="VerticalMenuPageMenuItemHeaderIcon">
                                    <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M364.8 106.666667L298.666667 172.8 637.866667 512 298.666667 851.2l66.133333 66.133333L768 512z" fill="#2175e4"></path></g></svg>
                                </div>
                            </div>
                        </Cell>
                        <Cell Size="small-auto">
                            <div class="VerticalMenuPageMenuItemDesc">
                                <p class="VerticalMenuPageMenuItemDescText">This is description of a menu.</p>
                                <div class="VerticalMenuPageMenuItemDescIcon">
                                    <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M853.333333 448h85.333334v490.666667h-85.333334zM725.333333 597.333333h85.333334v341.333334h-85.333334zM597.333333 490.666667h85.333334v448h-85.333334zM469.333333 618.666667h85.333334v320h-85.333334zM341.333333 682.666667h85.333334v256h-85.333334zM213.333333 640h85.333334v298.666667h-85.333334zM85.333333 725.333333h85.333334v213.333334H85.333333z" fill="#4CAF50"></path><path d="M855.466667 194.133333L725.333333 324.266667l-85.333333-85.333334-213.333333 213.333334-106.666667-106.666667L98.133333 567.466667l59.733334 59.733333 162.133333-162.133333 106.666667 106.666666 213.333333-213.333333 85.333333 85.333333 189.866667-189.866666z" fill="#388E3C"></path><path d="M938.666667 170.666667h-192l192 192z" fill="#388E3C"></path></g></svg>
                                </div>
                            </div>
                        </Cell>
                    </GridX>
                </CardSection>
            </Card>

        </Cell>
        <Cell Size="small-auto medium-6 large-4">
            <Card Class="VerticalMenuPageMenuItemCard">
                <CardSection>
                    <GridX>
                        <Cell Size="small-auto">
                            <div class="VerticalMenuPageMenuItemHeader">
                                <h5 class="VerticalMenuPageMenuItemHeaderTitle">Menu A</h5>
                                <div class="VerticalMenuPageMenuItemHeaderIcon">
                                    <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M364.8 106.666667L298.666667 172.8 637.866667 512 298.666667 851.2l66.133333 66.133333L768 512z" fill="#2175e4"></path></g></svg>
                                </div>
                            </div>
                        </Cell>
                        <Cell Size="small-auto">
                            <div class="VerticalMenuPageMenuItemDesc">
                                <p class="VerticalMenuPageMenuItemDescText">This is description of a menu.</p>
                                <div class="VerticalMenuPageMenuItemDescIcon">
                                    <svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M853.333333 448h85.333334v490.666667h-85.333334zM725.333333 597.333333h85.333334v341.333334h-85.333334zM597.333333 490.666667h85.333334v448h-85.333334zM469.333333 618.666667h85.333334v320h-85.333334zM341.333333 682.666667h85.333334v256h-85.333334zM213.333333 640h85.333334v298.666667h-85.333334zM85.333333 725.333333h85.333334v213.333334H85.333333z" fill="#4CAF50"></path><path d="M855.466667 194.133333L725.333333 324.266667l-85.333333-85.333334-213.333333 213.333334-106.666667-106.666667L98.133333 567.466667l59.733334 59.733333 162.133333-162.133333 106.666667 106.666666 213.333333-213.333333 85.333333 85.333333 189.866667-189.866666z" fill="#388E3C"></path><path d="M938.666667 170.666667h-192l192 192z" fill="#388E3C"></path></g></svg>
                                </div>
                            </div>
                        </Cell>
                    </GridX>
                </CardSection>
            </Card>

        </Cell>
    </GridX>
