@using Microsoft.JSInterop;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@inject IJSRuntime JSRuntime;



<div>
    <div style="margin-bottom: 15px" class="@Id"></div>

    <form id="@Id" style="display:none">
        <input placeholder="Card number" type="tel" name="number" />
        <input value="@FullName" placeholder="Full name" type="text" name="name" />
        <input value="@ExpMonth/@ExpYear" placeholder="MM/YY" type="tel" name="expiry" />
        <input placeholder="CVC" type="number" name="cvc" />
        <button type="submit" class="button primary rounded bordered expanded ">
            Add
        </button>


    </form>
</div>


@code {

}
