@using Microsoft.JSInterop;
@using Newtonsoft.Json.Linq;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@inject IJSRuntime JSRuntime;



<div>
    <div style="margin-bottom: 15px" class="@Id"></div>

    <form id="@Id" style="display:none">
        <input placeholder="Card number" type="tel" name="number" />
        <input value="@FullName" placeholder="Full name" type="text" name="name" />
        <input value="@ExpMonth/@ExpYear" placeholder="MM/YY" type="tel" name="expiry" />
        <input placeholder="CVC" type="number" name="cvc" />
        <button type="submit" class="button primary rounded bordered expanded ">
            Add
        </button>


    </form>
</div>


@code {

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string CardNumber { get; set; }

    [Parameter]
    public string FullName { get; set; }

    [Parameter]
    public string ExpMonth { get; set; }

    [Parameter]
    public string ExpYear { get; set; }

    [Parameter]
    public bool AutoManaged { get; set; } = true;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (AutoManaged)
            {
                await JSRuntime.InvokeVoidAsync("CreditCardRegister", Id, CardNumber, FullName, ExpMonth + '/' + ExpYear);

            }
        }

    }

}
