

<Accordion Class="menu-accordion-doc-wrapper" MultiOpen="true">

    @ChildContent
    <AccordionItem Title="Debugging Tool" Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/wasm/modules" data-close="SideMenu">Loaded Modules</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Getting Started" Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/welcome" data-close="SideMenu">Welcome</NavLink></li>
            <li><NavLink href="/installation" data-close="SideMenu">Installation</NavLink></li>
            <li><NavLink href="/compatibility" data-close="SideMenu">Compatibility</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Setup" Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/global-styles" data-close="SideMenu">Global Styles</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="General"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/xy-grid" data-close="SideMenu">XY Grid</NavLink></li>
            <li><NavLink href="/forms" data-close="SideMenu">Forms</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Utilities"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/prototyping" data-close="SideMenu">Prototyping</NavLink></li>
            <li><NavLink href="/flexbox" data-close="SideMenu">Flexbox</NavLink></li>
            <li><NavLink href="/visibility-classes" data-close="SideMenu">Visibility Classes</NavLink></li>
            <li><NavLink href="/float-classes" data-close="SideMenu">Float Classes</NavLink></li>
            <li><NavLink href="/bf6-icons" data-close="SideMenu">Icons</NavLink></li>
            <li><NavLink href="/material-design-icons" data-close="SideMenu">Material Design Icons</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Typography"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/base-styles" data-close="SideMenu">Base Styles</NavLink></li>
            <li><NavLink href="/helper-classes" data-close="SideMenu">Helper Classes</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Controls"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/button" data-close="SideMenu">Button</NavLink></li>
            <li><NavLink href="/button-group" data-close="SideMenu">Button Group</NavLink></li>
            <li><NavLink href="/slider" data-close="SideMenu">Slider</NavLink></li>
            <li><NavLink href="/switch" data-close="SideMenu">Switch</NavLink></li>
        </MenuNested>
    </AccordionItem>

    <AccordionItem Title="Navigation"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/menu" data-close="SideMenu">Menu</NavLink></li>
            <li><NavLink href="/drilldown-menu" data-close="SideMenu">Drilldown Menu</NavLink></li>
            <li><NavLink href="/dropdown-menu" data-close="SideMenu">Dropdown Menu</NavLink></li>
            <li><NavLink href="/top-bar" data-close="SideMenu">Top Bar</NavLink></li>
            <li><NavLink href="/pagination" data-close="SideMenu">Pagination</NavLink></li>
            <li><NavLink href="/breadcrumbs" data-close="SideMenu">Breadcrumbs</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Containers"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/accordion" data-close="SideMenu">Accordion</NavLink></li>
            <li><NavLink href="/callout" data-close="SideMenu">Callout</NavLink></li>
            <li><NavLink href="/card" data-close="SideMenu">Card</NavLink></li>
            <li><NavLink href="/dropdown" data-close="SideMenu">Dropdown</NavLink></li>
            <li><NavLink href="/media-object" data-close="SideMenu">Media Object</NavLink></li>
            <li><NavLink href="/off-canvas" data-close="SideMenu">Off-Canvas</NavLink></li>
            <li><NavLink href="/reveal" data-close="SideMenu">Reveal</NavLink></li>
            <li><NavLink href="/table" data-close="SideMenu">Table</NavLink></li>
            <li><NavLink href="/tabs" data-close="SideMenu">Tabs</NavLink></li>
            <li><NavLink href="/responsive-accordion-tabs" data-close="SideMenu">Responsive Accordion Tabs</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Media"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/badge" data-close="SideMenu">Badge</NavLink></li>
            <li><NavLink href="/responsive-embed" data-close="SideMenu">Responsive Embed</NavLink></li>
            <li><NavLink href="/label" data-close="SideMenu">Label</NavLink></li>
            <li><NavLink href="/orbit" data-close="SideMenu">Carousel (Orbit)</NavLink></li>
            <li><NavLink href="/progress-bar" data-close="SideMenu">Progess Bar</NavLink></li>
            <li><NavLink href="/thumbnail" data-close="SideMenu">Thumbnail</NavLink></li>
            <li><NavLink href="/tooltip" data-close="SideMenu">Tooltip</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Plugins" Active="true">
        <MenuNested Vertical="true"  >
            <li><NavLink href="/code-highlighter" data-close="SideMenu">Code Highlighter</NavLink></li>
            <li><NavLink href="/sticky" data-close="SideMenu">Sticky</NavLink></li>
            @*<li><NavLink href="/toggler" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Toggler</NavLink></li>*@
            <li><NavLink href="/clipboard" data-close="SideMenu">Clipboard</NavLink></li>
            <li><NavLink href="/style-management" data-close="SideMenu">Style Management</NavLink></li>
            <li><NavLink href="/motion-ui" data-close="SideMenu">Motion UI</NavLink></li>
        </MenuNested>
    </AccordionItem>
</Accordion>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
