

<Accordion Class="menu-accordion-doc-wrapper" MultiOpen="true">

    @ChildContent
    <AccordionItem Title="Getting Started" Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/welcome" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Welcome</NavLink></li>
            <li><NavLink href="/installation" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Installation</NavLink></li>
            <li><NavLink href="/compatibility" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Compatibility</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Setup" Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/global-styles" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Global Styles</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="General"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/xy-grid" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">XY Grid</NavLink></li>
            <li><NavLink href="/forms" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Forms</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Utilities"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/prototyping" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Prototyping</NavLink></li>
            <li><NavLink href="/flexbox" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Flexbox</NavLink></li>
            <li><NavLink href="/visibility-classes" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Visibility Classes</NavLink></li>
            <li><NavLink href="/float-classes" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Float Classes</NavLink></li>
            <li><NavLink href="/bf6-icons" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Icons</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Typography"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/base-styles" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Base Styles</NavLink></li>
            <li><NavLink href="/helper-classes" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Helper Classes</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Controls"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/button" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Button</NavLink></li>
            <li><NavLink href="/button-group" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Button Group</NavLink></li>
            <li><NavLink href="/slider" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Slider</NavLink></li>
            <li><NavLink href="/switch" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Switch</NavLink></li>
        </MenuNested>
    </AccordionItem>

    <AccordionItem Title="Navigation"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/menu" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Menu</NavLink></li>
            <li><NavLink href="/drilldown-menu" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Drilldown Menu</NavLink></li>
            <li><NavLink href="/dropdown-menu" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Dropdown Menu</NavLink></li>
            <li><NavLink href="/top-bar" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Top Bar</NavLink></li>
            <li><NavLink href="/pagination" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Pagination</NavLink></li>
            <li><NavLink href="/breadcrumbs" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Breadcrumbs</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Containers"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/accordion" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Accordion</NavLink></li>
            <li><NavLink href="/callout" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Callout</NavLink></li>
            <li><NavLink href="/card" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Card</NavLink></li>
            <li><NavLink href="/dropdown" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Dropdown</NavLink></li>
            <li><NavLink href="/media-object" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Media Object</NavLink></li>
            <li><NavLink href="/off-canvas" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Off-Canvas</NavLink></li>
            <li><NavLink href="/reveal" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Reveal</NavLink></li>
            <li><NavLink href="/table" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Table</NavLink></li>
            <li><NavLink href="/tabs" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Tabs</NavLink></li>
            <li><NavLink href="/responsive-accordion-tabs" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Responsive Accordion Tabs</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Media"  Active="true">
        <MenuNested Vertical="true">
            <li><NavLink href="/badge" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Badge</NavLink></li>
            <li><NavLink href="/responsive-embed" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Responsive Embed</NavLink></li>
            <li><NavLink href="/label" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Label</NavLink></li>
            <li><NavLink href="/orbit" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Carousel (Orbit)</NavLink></li>
            <li><NavLink href="/progress-bar" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Progess Bar</NavLink></li>
            <li><NavLink href="/thumbnail" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Thumbnail</NavLink></li>
            <li><NavLink href="/tooltip" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Tooltip</NavLink></li>
        </MenuNested>
    </AccordionItem>
    <AccordionItem Title="Plugins" Active="true">
        <MenuNested Vertical="true"  >
            <li><NavLink href="/code-highlighter" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Code Highlighter</NavLink></li>
            <li><NavLink href="/sticky" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Sticky</NavLink></li>
            @*<li><NavLink href="/toggler" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Toggler</NavLink></li>*@
            <li><NavLink href="/clipboard" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Clipboard</NavLink></li>
            <li><NavLink href="/style-management" ms-data-linkto="MenuSystemWrapperAutoV2" ms-data-close="true">Style Management</NavLink></li>
        </MenuNested>
    </AccordionItem>
</Accordion>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
