@page "/wasm/modules"
@using System.Reflection
@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
@using OpenCodeDev.Blazor.Foundation.Components.Controls;
@using OpenCodeDev.Blazor.Foundation.Components.Containers;

<SectionWrapper>
    <SectionLeft>
        <h2>Loaded Modules</h2>
        <p>
            Below you'll see how we get the list of module loaded... 
            but also the list of currently loaded modules and thier version the documentation is running on. 
            mostly for us as debug purposes.
        </p>
        <HighlightCS Language="razor" Full="true"
                     Content="PFRhYmxlV3JhcHBlciBTdHJpcGVkPXRydWU+CiAgICA8VGFibGVIZWFkZXI+CiAgICAgICAgPFRhYmxlSGVhZGVySXRlbT5Bc3NlbWJseTwvVGFibGVIZWFkZXJJdGVtPgogICAgICAgIDxUYWJsZUhlYWRlckl0ZW0+VmVyc2lvbjwvVGFibGVIZWFkZXJJdGVtPgogICAgPC9UYWJsZUhlYWRlcj4KICAgIDxUYWJsZUJvZHk+CiAgICBAZm9yZWFjaCAodmFyIGl0ZW0gaW4gR2V0QXNzZW1ibGllcygpKQogICAgewogICAgICAgIDxUYWJsZUJvZHlSb3c+CiAgICAgICAgICAgIDxUYWJsZUJvZHlSb3dJdGVtPkBpdGVtLk5hbWU8L1RhYmxlQm9keVJvd0l0ZW0+CiAgICAgICAgICAgIDxUYWJsZUJvZHlSb3dJdGVtPkBpdGVtLlZlcnNpb24uVG9TdHJpbmcoNCk8L1RhYmxlQm9keVJvd0l0ZW0+CiAgICAgICAgPC9UYWJsZUJvZHlSb3c+CiAgICB9CiAgICA8L1RhYmxlQm9keT4KPC9UYWJsZVdyYXBwZXI+" />

        <HighlightCS Language="cs" Full="true"
                     Content="cHJpdmF0ZSBBc3NlbWJseU5hbWVbXSBHZXRBc3NlbWJsaWVzKCkKewogICAgcmV0dXJuIHRoaXMuR2V0VHlwZSgpLkFzc2VtYmx5LkdldFJlZmVyZW5jZWRBc3NlbWJsaWVzKCkKICAgIC5XaGVyZShwID0+ICFwLk5hbWUuU3RhcnRzV2l0aCgiU3lzdGVtLiIpICYmICFwLk5hbWUuU3RhcnRzV2l0aCgiTWljcm9zb2Z0LiIpKS5PcmRlckJ5KHA9PnAuTmFtZSkuVG9BcnJheSgpOwp9" />

        <TableWrapper Striped=true>
            <TableHeader>
                <TableHeaderItem>Assembly</TableHeaderItem>
                <TableHeaderItem>Version</TableHeaderItem>
            </TableHeader>
            <TableBody>
            @foreach (var item in GetAssemblies())
            {
                <TableBodyRow>
                    <TableBodyRowItem>@item.Name</TableBodyRowItem>
                    <TableBodyRowItem>@item.Version.ToString(4)</TableBodyRowItem>
                </TableBodyRow>
            }
            </TableBody>
        </TableWrapper>
        <hr />
    </SectionLeft>
</SectionWrapper>


@code {
private AssemblyName[] GetAssemblies()
{
    return this.GetType().Assembly.GetReferencedAssemblies()
    .Where(p => !p.Name.StartsWith("System.") && !p.Name.StartsWith("Microsoft.")).OrderBy(p=>p.Name).ToArray();
}
}
