<div style="@(
                (VerticalSpacing == null ? "" : $"margin-top:{VerticalSpacing}; margin-bottom:{VerticalSpacing};") +
                (HorizantalSpacing == null ? "" : $"margin-right:{HorizantalSpacing}; margin-left:{HorizantalSpacing};")
              )">
</div>

@code {
    
}
