@page "/drilldown-menu";

@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
@using OpenCodeDev.Blazor.Foundation.Components.Controls;
@using OpenCodeDev.Blazor.Foundation.Components.Navigation;

<SectionWrapper>
    <SectionLeft>
        <h2>Drilldown Menu</h2>
        <p>
            Drilldown is one of Blazor Foundation's three menu patterns, which converts a series of nested lists
            into a vertical drilldown menu.
        </p>
    </SectionLeft>

        <SectionLeft>
            <h2>Basics</h2>
            <p>
                Drilldowns use the standard <NavLink href="menu">Menu</NavLink> syntax, using <Code>@("<MenuDrillDown>")</Code>, <Code>@("<li>")</Code>, and <Code>@("<NavLink>")</Code>. Add data-drilldown to the root menu to set up the drilldown.
            </p>
            <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                         Content="PE1lbnVEcmlsbGRvd24gVmVydGljYWw9InRydWUiPgogICAgPGxpPgogICAgICAgIDxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMTwvTmF2TGluaz4KICAgICAgICA8TWVudU5lc3RlZCBWZXJ0aWNhbD0idHJ1ZSI+CiAgICAgICAgICAgIDxsaT4KICAgICAgICAgICAgICAgICAgICA8TmF2TGluayBocmVmPSIjIj5JdGVtIDFBPC9OYXZMaW5rPgogICAgICAgICAgICAgICAgPE1lbnVOZXN0ZWQgVmVydGljYWw9InRydWUiPgogICAgICAgICAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDFBYTwvTmF2TGluaz48L2xpPgogICAgICAgICAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDFCYTwvTmF2TGluaz48L2xpPgogICAgICAgICAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDFDYTwvTmF2TGluaz48L2xpPgogICAgICAgICAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDFEYTwvTmF2TGluaz48L2xpPgogICAgICAgICAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDFFYTwvTmF2TGluaz48L2xpPgogICAgICAgICAgICAgICAgPC9NZW51TmVzdGVkPgogICAgICAgICAgICA8L2xpPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAxQjwvTmF2TGluaz48L2xpPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAxQzwvTmF2TGluaz48L2xpPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAxRDwvTmF2TGluaz48L2xpPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAxRTwvTmF2TGluaz48L2xpPgogICAgICAgIDwvTWVudU5lc3RlZD4KICAgIDwvbGk+CiAgICA8bGk+CiAgICAgICAgPE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAyPC9OYXZMaW5rPgogICAgICAgIDxNZW51TmVzdGVkIFZlcnRpY2FsPSJ0cnVlIj4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMkE8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMkI8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMkM8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMkQ8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMkU8L05hdkxpbms+PC9saT4KICAgICAgICA8L01lbnVOZXN0ZWQ+CiAgICA8L2xpPgogICAgPGxpPgogICAgICAgIDxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMzwvTmF2TGluaz4KICAgICAgICA8TWVudU5lc3RlZCBWZXJ0aWNhbD0idHJ1ZSI+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDNBPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDNCPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDNDPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDNEPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDNFPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgPC9NZW51TmVzdGVkPgogICAgPC9saT4KICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDQ8L05hdkxpbms+PC9saT4KPC9NZW51RHJpbGxkb3duPg==" />

            <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="primary">
                <p>
                    The drilldown menu takes on the height of the tallest menu in the hierarchy, so the menu doesn't change height as
                    the user navigates it.
                </p>
            </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>

            <OpenCodeDev.Blazor.Foundation.Components.Navigation.MenuDrilldown Vertical="true">
                <li>
                    <NavLink href="#">Item 1</NavLink>
                    <MenuNested Vertical="true">
                        <li>
                             <NavLink href="#">Item 1A</NavLink>
                            <MenuNested Vertical="true">
                                <li><NavLink href="#">Item 1Aa</NavLink></li>
                                <li><NavLink href="#">Item 1Ba</NavLink></li>
                                <li><NavLink href="#">Item 1Ca</NavLink></li>
                                <li><NavLink href="#">Item 1Da</NavLink></li>
                                <li><NavLink href="#">Item 1Ea</NavLink></li>
                            </MenuNested>
                        </li>
                        <li><NavLink href="#">Item 1B</NavLink></li>
                        <li><NavLink href="#">Item 1C</NavLink></li>
                        <li><NavLink href="#">Item 1D</NavLink></li>
                        <li><NavLink href="#">Item 1E</NavLink></li>
                    </MenuNested>
                </li>
                <li>
                    <NavLink href="#">Item 2</NavLink>
                    <MenuNested Vertical="true">
                        <li><NavLink href="#">Item 2A</NavLink></li>
                        <li><NavLink href="#">Item 2B</NavLink></li>
                        <li><NavLink href="#">Item 2C</NavLink></li>
                        <li><NavLink href="#">Item 2D</NavLink></li>
                        <li><NavLink href="#">Item 2E</NavLink></li>
                    </MenuNested>
                </li>
                <li>
                    <NavLink href="#">Item 3</NavLink>
                    <MenuNested Vertical="true">
                        <li><NavLink href="#">Item 3A</NavLink></li>
                        <li><NavLink href="#">Item 3B</NavLink></li>
                        <li><NavLink href="#">Item 3C</NavLink></li>
                        <li><NavLink href="#">Item 3D</NavLink></li>
                        <li><NavLink href="#">Item 3E</NavLink></li>
                    </MenuNested>
                </li>
                <li><NavLink href="#">Item 4</NavLink></li>
            </OpenCodeDev.Blazor.Foundation.Components.Navigation.MenuDrilldown>
        </SectionLeft>
        <hr />

</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>autoHeight</h2>
        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout TypeClass="secondary">
            <p>
                If you like to set the height to auto you can also set the autoHeight and
                animateHeight params
            </p>

        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>
        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PE1lbnVEcmlsbGRvd24gVmVydGljYWw9InRydWUiIGRhdGEtYXV0by1oZWlnaHQ9InRydWUiIGRhdGEtYW5pbWF0ZS1oZWlnaHQ9InRydWUiPgogICAgPGxpPgogICAgICAgIDxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMTwvTmF2TGluaz4KICAgICAgICA8TWVudU5lc3RlZCBWZXJ0aWNhbD0idHJ1ZSI+CiAgICAgICAgICAgIDxsaT4KICAgICAgICAgICAgICAgIDxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMUE8L05hdkxpbms+CiAgICAgICAgICAgICAgICA8TWVudU5lc3RlZCBWZXJ0aWNhbD0idHJ1ZSI+CiAgICAgICAgICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMUFhPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gMUJhPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgICAgICA8L01lbnVOZXN0ZWQ+CiAgICAgICAgICAgIDwvbGk+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDFCPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDFDPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDFEPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDFFPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgPC9NZW51TmVzdGVkPgogICAgPC9saT4KICAgIDxsaT4KICAgICAgICA8TmF2TGluayBocmVmPSIjIj5JdGVtIDI8L05hdkxpbms+CiAgICAgICAgPE1lbnVOZXN0ZWQgVmVydGljYWw9InRydWUiPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAyQTwvTmF2TGluaz48L2xpPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAyQjwvTmF2TGluaz48L2xpPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAyQzwvTmF2TGluaz48L2xpPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAyRDwvTmF2TGluaz48L2xpPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAyRTwvTmF2TGluaz48L2xpPgogICAgICAgIDwvTWVudU5lc3RlZD4KICAgIDwvbGk+CiAgICA8bGk+CiAgICAgICAgPE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzPC9OYXZMaW5rPgogICAgICAgIDxNZW51TmVzdGVkIFZlcnRpY2FsPSJ0cnVlIj4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gM0E8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gM0I8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gM0M8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gM0Q8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPgogICAgICAgICAgICAgICAgPE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRTwvTmF2TGluaz4KICAgICAgICAgICAgICAgIDxNZW51TmVzdGVkIFZlcnRpY2FsPSJ0cnVlIj4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUE8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUI8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUM8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUQ8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUU8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUE8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUI8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUM8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUQ8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUU8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUE8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUI8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUM8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUQ8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSAzRUU8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgICAgIDwvTWVudU5lc3RlZD4KICAgICAgICAgICAgPC9saT4KICAgICAgICA8L01lbnVOZXN0ZWQ+CiAgICA8L2xpPgogICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gNDwvTmF2TGluaz48L2xpPgogICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gNTwvTmF2TGluaz48L2xpPgogICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gNjwvTmF2TGluaz48L2xpPgogICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gNzwvTmF2TGluaz48L2xpPgogICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gODwvTmF2TGluaz48L2xpPgo8L01lbnVEcmlsbGRvd24+" />
        <OpenCodeDev.Blazor.Foundation.Components.Navigation.MenuDrilldown Vertical="true" data-auto-height="true" data-animate-height="true">
            <li>
                <NavLink href="#">Item 1</NavLink>
                <MenuNested Vertical="true">
                    <li>
                        <NavLink href="#">Item 1A</NavLink>
                        <MenuNested Vertical="true">
                            <li><NavLink href="#">Item 1Aa</NavLink></li>
                            <li><NavLink href="#">Item 1Ba</NavLink></li>
                        </MenuNested>
                    </li>
                    <li><NavLink href="#">Item 1B</NavLink></li>
                    <li><NavLink href="#">Item 1C</NavLink></li>
                    <li><NavLink href="#">Item 1D</NavLink></li>
                    <li><NavLink href="#">Item 1E</NavLink></li>
                </MenuNested>
            </li>
            <li>
                <NavLink href="#">Item 2</NavLink>
                <MenuNested Vertical="true">
                    <li><NavLink href="#">Item 2A</NavLink></li>
                    <li><NavLink href="#">Item 2B</NavLink></li>
                    <li><NavLink href="#">Item 2C</NavLink></li>
                    <li><NavLink href="#">Item 2D</NavLink></li>
                    <li><NavLink href="#">Item 2E</NavLink></li>
                </MenuNested>
            </li>
            <li>
                <NavLink href="#">Item 3</NavLink>
                <MenuNested Vertical="true">
                    <li><NavLink href="#">Item 3A</NavLink></li>
                    <li><NavLink href="#">Item 3B</NavLink></li>
                    <li><NavLink href="#">Item 3C</NavLink></li>
                    <li><NavLink href="#">Item 3D</NavLink></li>
                    <li>
                        <NavLink href="#">Item 3E</NavLink>
                        <MenuNested Vertical="true">
                            <li><NavLink href="#">Item 3EA</NavLink></li>
                            <li><NavLink href="#">Item 3EB</NavLink></li>
                            <li><NavLink href="#">Item 3EC</NavLink></li>
                            <li><NavLink href="#">Item 3ED</NavLink></li>
                            <li><NavLink href="#">Item 3EE</NavLink></li>
                            <li><NavLink href="#">Item 3EA</NavLink></li>
                            <li><NavLink href="#">Item 3EB</NavLink></li>
                            <li><NavLink href="#">Item 3EC</NavLink></li>
                            <li><NavLink href="#">Item 3ED</NavLink></li>
                            <li><NavLink href="#">Item 3EE</NavLink></li>
                            <li><NavLink href="#">Item 3EA</NavLink></li>
                            <li><NavLink href="#">Item 3EB</NavLink></li>
                            <li><NavLink href="#">Item 3EC</NavLink></li>
                            <li><NavLink href="#">Item 3ED</NavLink></li>
                            <li><NavLink href="#">Item 3EE</NavLink></li>
                        </MenuNested>
                    </li>
                </MenuNested>
            </li>
            <li><NavLink href="#">Item 4</NavLink></li>
            <li><NavLink href="#">Item 5</NavLink></li>
            <li><NavLink href="#">Item 6</NavLink></li>
            <li><NavLink href="#">Item 7</NavLink></li>
            <li><NavLink href="#">Item 8</NavLink></li>
        </OpenCodeDev.Blazor.Foundation.Components.Navigation.MenuDrilldown>
        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>ScrollTop DrillDown</h2>
        <OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>
            <p>
                Scroll to the top of the menu when selecting a submenu/navigating back using the menu back button. Can be
                useful with a longer menu to provide a better user experience.
            </p>
        </OpenCodeDev.Blazor.Foundation.Components.Containers.Callout>
        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PE1lbnVEcmlsbGRvd24gVmVydGljYWw9InRydWUiIGRhdGEtc2Nyb2xsLXRvcD0idHJ1ZSIgZGF0YS1hdXRvLWhlaWdodD0idHJ1ZSIgZGF0YS1hbmltYXRlLWhlaWdodD0idHJ1ZSI+CiAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbTwvTmF2TGluaz48L2xpPgogICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtPC9OYXZMaW5rPjwvbGk+CiAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbTwvTmF2TGluaz48L2xpPgogICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtPC9OYXZMaW5rPjwvbGk+CiAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbTwvTmF2TGluaz48L2xpPgogICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtPC9OYXZMaW5rPjwvbGk+CiAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbTwvTmF2TGluaz48L2xpPgogICAgPGxpPgogICAgICAgIDxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gPC9OYXZMaW5rPgogICAgICAgIDxNZW51TmVzdGVkIFZlcnRpY2FsPSJ0cnVlIj4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW0gPC9OYXZMaW5rPjwvbGk+CiAgICAgICAgICAgIDxsaT48TmF2TGluayBocmVmPSIjIj5JdGVtIDwvTmF2TGluaz48L2xpPgogICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbSA8L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPjxOYXZMaW5rIGhyZWY9IiMiPkl0ZW08L05hdkxpbms+PC9saT4KICAgICAgICAgICAgPGxpPgogICAgICAgICAgICAgICAgPE5hdkxpbmsgaHJlZj0iIyI+SXRlbTwvTmF2TGluaz4KICAgICAgICAgICAgICAgIDxNZW51TmVzdGVkIFZlcnRpY2FsPSJ0cnVlIj4KICAgICAgICAgICAgICAgICAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbTwvTmF2TGluaz48L2xpPgogICAgICAgICAgICAgICAgPC9NZW51TmVzdGVkPgogICAgICAgICAgICA8L2xpPgogICAgICAgIDwvTWVudU5lc3RlZD4KICAgIDwvbGk+CiAgICA8bGk+PE5hdkxpbmsgaHJlZj0iIyI+SXRlbTwvTmF2TGluaz48L2xpPgo8L01lbnVEcmlsbGRvd24+" />

        <OpenCodeDev.Blazor.Foundation.Components.Navigation.MenuDrilldown Vertical="true" data-scroll-top="true" data-auto-height="true" data-animate-height="true">
            <li><NavLink href="#">Item</NavLink></li>
            <li><NavLink href="#">Item</NavLink></li>
            <li><NavLink href="#">Item</NavLink></li>
            <li><NavLink href="#">Item</NavLink></li>
            <li><NavLink href="#">Item</NavLink></li>
            <li><NavLink href="#">Item</NavLink></li>
            <li><NavLink href="#">Item</NavLink></li>
            <li><NavLink href="#">Item</NavLink></li>
            <li><NavLink href="#">Item</NavLink></li>
            <li><NavLink href="#">Item</NavLink></li>
            <li>
                <NavLink href="#">Item </NavLink>
                <MenuNested Vertical="true">
                    <li><NavLink href="#">Item </NavLink></li>
                    <li><NavLink href="#">Item </NavLink></li>
                    <li><NavLink href="#">Item </NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li><NavLink href="#">Item</NavLink></li>
                    <li>
                        <NavLink href="#">Item</NavLink>
                        <MenuNested Vertical="true">
                            <li><NavLink href="#">Item</NavLink></li>
                        </MenuNested>
                    </li>
                </MenuNested>
            </li>
            <li><NavLink href="#">Item</NavLink></li>
        </OpenCodeDev.Blazor.Foundation.Components.Navigation.MenuDrilldown>
        <hr />
    </SectionLeft>
</SectionWrapper>

@code {

}
