@page "/prototyping";
@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
<SectionWrapper>
    <SectionLeft>
        <h2>Prototyping Utilities</h2>
        <p style=" margin-top: 1em;">
            Quickly prototype layouts and UI with Foundation's Prototyping Utilities. 
            These optional classes and mixins are great for quickly turning sketches and mockups into coded prototypes.
        </p>
        <ResponsiveEmbedAspectRatio>
            <iframe style="margin-top:1em;" width="847" height="476" src="https://www.youtube.com/embed/6KwsGcEHVTE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ResponsiveEmbedAspectRatio>

        <hr />
    </SectionLeft>
</SectionWrapper>

@code {

}
