@page "/visibility-classes";
@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;
<SectionWrapper>
    <SectionLeft>
        <h2>Visibility Classes</h2>
        <p>
            Visibility classes let you show or hide elements based on screen size or device orientation.
            You can also use visibility classes to control which elements users see depending on their browsing environment.

        </p>
        <Callout TypeClass="secondary">
            Visibility classes use <Code Content="IWltcG9ydGFudA==" ></Code> to ensure they aren't overridden by more specific selectors.
            This framework conscientiously avoids using <Code Content="IWltcG9ydGFudA==" ></Code> declarations.
            This is one of the few components that does.
        </Callout>


        <h2>Show by Screen Size</h2>
        <p>
            In this example, we use the <Code Content="c2hvdw=="></Code> visibility classes to show certain strings of text based on the device on which users view a page.
            If their browser meets the class's conditions, the element will be shown.
            If not, it will be hidden.
        </p>
        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#f06529" HeaderTitle="HTML"
                     Content="PHA+WW91IGFyZSBvbiBhIHNtYWxsIHNjcmVlbiBvciBsYXJnZXIuPC9wPgo8cCBjbGFzcz0ic2hvdy1mb3ItbWVkaXVtIj5Zb3UgYXJlIG9uIGEgbWVkaXVtIHNjcmVlbiBvciBsYXJnZXIuPC9wPgo8cCBjbGFzcz0ic2hvdy1mb3ItbGFyZ2UiPllvdSBhcmUgb24gYSBsYXJnZSBzY3JlZW4gb3IgbGFyZ2VyLjwvcD4=" />

        <p>You are on a small screen or larger.</p>
        <p class="show-for-medium">You are on a medium screen or larger.</p>
        <p class="show-for-large">You are on a large screen or larger.</p>

        <p>
            These classes automatically hide the element on screen sizes below what's specified in the class.
            So <Code Content="c2hvdy1mb3ItbWVkaXVt"></Code> will hide the element on small, and show it on medium and larger.
        </p>
        <p>
            A separate set of classes allow you to show content only on a certain screen size.
            Just add <Code Content="LW9ubHk="></Code> to the end of the class.
        </p>


        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#f06529" HeaderTitle="HTML"
                     Content="PHAgY2xhc3M9InNob3ctZm9yLXNtYWxsLW9ubHkiPllvdSBhcmUgPGVtPmRlZmluaXRlbHk8L2VtPiBvbiBhIHNtYWxsIHNjcmVlbi48L3A+CjxwIGNsYXNzPSJzaG93LWZvci1tZWRpdW0tb25seSI+WW91IGFyZSA8ZW0+ZGVmaW5pdGVseTwvZW0+IG9uIGEgbWVkaXVtIHNjcmVlbi48L3A+CjxwIGNsYXNzPSJzaG93LWZvci1sYXJnZS1vbmx5Ij5Zb3UgYXJlIDxlbT5kZWZpbml0ZWx5PC9lbT4gb24gYSBsYXJnZSBzY3JlZW4uPC9wPg==" />
        <Callout>
            Don't see any text? The text is hidden because you are on large or larger.
        </Callout>
        <p class="show-for-small-only">You are <em>definitely</em> on a small screen.</p>
        <p class="show-for-medium-only">You are <em>definitely</em> on a medium screen.</p>
        <p class="show-for-large-only">You are <em>definitely</em> on a large screen.</p>

        <hr />
    </SectionLeft>
</SectionWrapper>

<SectionWrapper>
    <SectionLeft>
        <h2>Hide by Screen Size</h2>
        <p>
            This example shows the opposite: It uses the <Code Content="aGlkZQ==" ></Code> visibility classes to state which elements should disappear based on the device's screen size.

        </p>
        <Callout TypeClass="secondary">
            There's no <Code Content="aGlkZS1mb3Itc21hbGw=" ></Code> class, because that would just permanently hide the element.
            For that, you can use the plain old <Code Content="aGlkZQ==" ></Code> class instead.
        </Callout>
        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#f06529" HeaderTitle="HTML"
                     Content="PHAgY2xhc3M9ImhpZGUtZm9yLW1lZGl1bSI+WW91IGFyZSA8ZW0+bm90PC9lbT4gb24gYSBtZWRpdW0gc2NyZWVuIG9yIGxhcmdlci48L3A+CjxwIGNsYXNzPSJoaWRlLWZvci1sYXJnZSI+WW91IGFyZSA8ZW0+bm90PC9lbT4gb24gYSBsYXJnZSBzY3JlZW4gb3IgbGFyZ2VyLjwvcD4=" />

        <p class="hide-for-medium">You are <em>not</em> on a medium screen or larger.</p>
        <p class="hide-for-large">You are <em>not</em> on a large screen or larger.</p>
        <p>If you're reading this, you're on a large screen, and can't see either of the above examples.</p>
        <p>Like with <Code Content="c2hvdw=="></Code>, these classes also have <Code Content="LW9ubHk="></Code> versions.</p>

        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#f06529" HeaderTitle="HTML"
                     Content="PHAgY2xhc3M9ImhpZGUtZm9yLXNtYWxsLW9ubHkiPllvdSBhcmUgPGVtPmRlZmluaXRlbHkgbm90PC9lbT4gb24gYSBzbWFsbCBzY3JlZW4uPC9wPgo8cCBjbGFzcz0iaGlkZS1mb3ItbWVkaXVtLW9ubHkiPllvdSBhcmUgPGVtPmRlZmluaXRlbHkgbm90PC9lbT4gb24gYSBtZWRpdW0gc2NyZWVuLjwvcD4KPHAgY2xhc3M9ImhpZGUtZm9yLWxhcmdlLW9ubHkiPllvdSBhcmUgPGVtPmRlZmluaXRlbHkgbm90PC9lbT4gb24gYSBsYXJnZSBzY3JlZW4uPC9wPg==" />

        <p class="hide-for-small-only">You are <em>definitely not</em> on a small screen.</p>
        <p class="hide-for-medium-only">You are <em>definitely not</em> on a medium screen.</p>
        <p class="hide-for-large-only">You are <em>definitely not</em> on a large screen.</p>

        <h2>Generic Hide Classes</h2>

        <p>
            And if you really just need something hidden no matter what, there are classes for that as well.
            The <Code Content="aGlkZQ=="></Code> and <Code Content="aW52aXNpYmxl"></Code> classes respectively set <Code Content="ZGlzcGxheTogbm9uZTs="></Code> and <Code Content="dmlzaWJpbGl0eTogaGlkZGVuOw=="></Code> on an element.
            Note that both of these classes hide content from screen readers.
        </p>

        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#f06529" HeaderTitle="HTML"
                     Content="PHAgY2xhc3M9ImhpZGUiPkNhbid0IHRvdWNoIHRoaXMuPC9wPgo8cCBjbGFzcz0iaW52aXNpYmxlIj5DYW4gc29ydCBvZiB0b3VjaCB0aGlzLjwvcD4=" />

        <hr />
    </SectionLeft>
</SectionWrapper>


<SectionWrapper>
    <SectionLeft>
        <h2>Orientation Detection</h2>
        <p>
            This straightforward example shows how two strings of text determine whether or not an element is visible in different orientations.
            This will change on mobile devices when you rotate the device.
            On desktop, the orientation is almost always reported as landscape.
        </p>
        <HighlightCode Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#f06529" HeaderTitle="HTML"
                     Content="PHAgY2xhc3M9InNob3ctZm9yLWxhbmRzY2FwZSI+WW91IGFyZSBpbiBsYW5kc2NhcGUgb3JpZW50YXRpb24uPC9wPgo8cCBjbGFzcz0ic2hvdy1mb3ItcG9ydHJhaXQiPllvdSBhcmUgaW4gcG9ydHJhaXQgb3JpZW50YXRpb24uPC9wPg==" />
        <p class="show-for-landscape">You are in landscape orientation.</p>
        <p class="show-for-portrait">You are in portrait orientation.</p>
        <hr />
    </SectionLeft>
</SectionWrapper>

@code {

}
