@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div class="@($"grid-y " +
              $"{(VerticalMargin? "grid-margin-y" : "")} " +
              $"{(HorizontalMargin? "grid-margin-x" : "")} " +
              $"{(VerticalPadding? "grid-padding-y" : "")} " +
              $"{(HorizontalPadding? "grid-padding-x" : "")} " +
              $"{Class}")" id="@Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {

}

