@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div class="@($"grid-container {(Fluid? "fluid" : Full ? "full" : "")} {Class}")" id="@Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {

}
