@page "/responsive-embed";
@using OpenCodeDev.Blazor.Foundation.Doc.Core.Components.Containers.Section;

<SectionWrapper>
    <SectionLeft>
        <h2>Responsive Embed</h2>
        <p>
            Wrap embedded content like videos, maps, and calendars in a responsive embed container to maintain the correct aspect ratio regardless of screen size.
        </p>
        <p>
            To make sure embedded content maintains its aspect ratio as the width of the screen changes, wrap the <Code>iframe</Code> <Code>object</Code>, <Code>embed</Code>, or <Code>video</Code> in a component <Code Content="PFJlc3BvbnNpdmVFbWJlZD4="></Code>
</p>
        <HighlightCS Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PFJlc3BvbnNpdmVFbWJlZD4KICA8aWZyYW1lIHdpZHRoPSI0MjAiIGhlaWdodD0iMzE1IiBzcmM9Imh0dHBzOi8vd3d3LnlvdXR1YmUuY29tL2VtYmVkL21NNV9ULUYxWW40IiBmcmFtZWJvcmRlcj0iMCIgYWxsb3dmdWxsc2NyZWVuPjwvaWZyYW1lPgo8L1Jlc3BvbnNpdmVFbWJlZD4=" />
        <OpenCodeDev.Blazor.Foundation.Components.Media.ResponsiveEmbed>
            <iframe width="420" height="315" src="https://www.youtube.com/embed/mM5_T-F1Yn4" frameborder="0" allowfullscreen></iframe>
        </OpenCodeDev.Blazor.Foundation.Components.Media.ResponsiveEmbed>
        <hr />
    </SectionLeft>
</SectionWrapper>
<SectionWrapper>
    <SectionLeft>
        <h2>Aspect Ratios</h2>
        <p>
            Add the component <Code Content="PFJlc3BvbnNpdmVFbWJlZEFzcGVjdFJhdGlvPg=="></Code> to change the aspect ratio of responsive embeds.
        </p>
        <HighlightCS Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PFJlc3BvbnNpdmVFbWJlZEFzcGVjdFJhdGlvPgogIDxpZnJhbWUgd2lkdGg9IjU2MCIgaGVpZ2h0PSIzMTUiIHNyYz0iaHR0cHM6Ly93d3cueW91dHViZS5jb20vZW1iZWQvV1VndnZQUkg3T2MiIGZyYW1lYm9yZGVyPSIwIiBhbGxvd2Z1bGxzY3JlZW4+PC9pZnJhbWU+CjwvUmVzcG9uc2l2ZUVtYmVkQXNwZWN0UmF0aW8+" />
        <OpenCodeDev.Blazor.Foundation.Components.Media.ResponsiveEmbedAspectRatio>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WUgvvPRH7Oc" frameborder="0" allowfullscreen></iframe>
        </OpenCodeDev.Blazor.Foundation.Components.Media.ResponsiveEmbedAspectRatio>
        <hr />
        <h2>Panorama</h2>
        <HighlightCS Language="html" Full="true" HeaderIcon="mdi-language-html5" HeaderBGcolor="#5d2b90" HeaderTitle="Razor"
                     Content="PFJlc3BvbnNpdmVFbWJlZFBhbm9yYW1hPgogIDxpZnJhbWUgd2lkdGg9IjEwMjQiIGhlaWdodD0iMzE1IiBzcmM9Imh0dHBzOi8vd3d3LnlvdXR1YmUuY29tL2VtYmVkL2JuRDlJMjRFTF80IiBmcmFtZWJvcmRlcj0iMCIgYWxsb3dmdWxsc2NyZWVuPjwvaWZyYW1lPgo8L1Jlc3BvbnNpdmVFbWJlZFBhbm9yYW1hPg==" />
        <OpenCodeDev.Blazor.Foundation.Components.Media.ResponsiveEmbedPanorama>
            <iframe width="1024" height="315" src="https://www.youtube.com/embed/bnD9I24EL_4" frameborder="0" allowfullscreen></iframe>
        </OpenCodeDev.Blazor.Foundation.Components.Media.ResponsiveEmbedPanorama>
        <hr />
    </SectionLeft>
</SectionWrapper>
@code {

}
